<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Biller.Properties.Settings.CMSConnectionString" connectionString="Data Source=ZEUS\DEVEL;Initial Catalog=CMS;Persist Security Info=True;User ID=sa;Password=47yk2"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSFEBuilderSoap" />
                <binding name="WSFEBuilderSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://avdtst.cloudapp.net/WSFEBuilder-COSMAC/WSFEBuilder.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSFEBuilderSoap"
                contract="GS1.Service.WSFEBuilderSoap" name="WSFEBuilderSoap" />
            <endpoint address="http://avdtest.cloudapp.net/WSFEBuilder-COSMAC/WSFEBuilder.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSFEBuilderSoap1"
                contract="GS1.WSFEBuilderSoap" name="WSFEBuilderSoap1" />
        </client>
    </system.serviceModel>
</configuration>